asgiref==3.11.1
Django==5.2.14
sqlparse==0.5.5
python-dotenv
djangorestframework-simplejwt
django-cors-headers
django-debug-toolbar
django-oauth-toolkit
pyotp
qrcode
pillow
drf-spectacular
gunicorn
django-allauth
django-storages[boto3]
boto3
reportlab
channels
